 /* untuk bagian output_baru.php */
 * {
    margin:0;
    padding:0;
}
@media (min-width:600px) {
    /* bagian class hello world mulai */
    nav {
        background-color: black;
        position:fixed;
        top:0;
        backdrop-filter: blur(5px);
        display:flex;
        justify-content: flex-start;
        align-items: center;
        height:15%;
        width:100%;
    }
    .nav {
        height: 85%;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .logo {   
        height: 100%;
        width:25%;
        background-image: url(logo_full_2.png);
        background-color: black;
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;
    }
    a {
        text-decoration: none;
        color:white;
        display: block;
        text-align: center;
    }
    .pembatas {
        height:5vh;
        width:100%;
        background-color: black;
    }
    .pembatas_atas {
        height:15vh;
        width:100%;
        background-color: black;
    }

    /* bagian page_satu mulai */
    .page_satu {
        display: flex;
        width:100%;
        height:100vh;
        align-items: center;
        justify-content: space-around;
        background-image: url(logo_2.png);
        background-repeat: no-repeat;
        background-size: 50% 80%;
        background-position: center;
        background-color:black;
        
         
    }
    .page_dua {
        display: flex;
        flex-direction: column;
        width:100%;
        height:120vh;
        align-items: center;
        justify-content: space-evenly;
        background-image: url(BG_page_satu.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
          
    }
    .page_tiga {
        display: flex;
        flex-direction: column;
        align-items: center; /* ada kemungkinan hapus ini*/
        justify-content: space-around;
        width:100%;
        /*height:300vh;*/
        /*background-image: url(BG_page_satu.png);*/
        background-color: black;
        /*background-repeat: no-repeat;
        background-size: cover;
        background-position: center;*/
    }
    
    .page_empat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width:100%;
        background-color: black;
    }



    .bagian_satu, .bagian_dua, .bagian_tiga {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
    }
    .bagian_satu {
        height:65vh;
    }
    .bagian_dua{
        height:30vh;
    }
    
    /* bagian isi page_satu mulai */
     /* bagian kotak data pasien mulai */
     .kotak_data_pasien {
        border: 1px solid rgb(9, 241, 241);;
        border-radius: 10px;
        height:25vh;
        width: 40vh; 
        background-color: rgba(255, 255, 255, 0.068); 
        backdrop-filter: blur(20px);
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;   
    }
    .header_data_pasien {
        height:20%;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header {
        height:20%;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family:Arial, Helvetica, sans-serif;
    }
    .kotak_tabel {
        height:80%;
        width:100%;
        display: flex;
        justify-content: center;
    }
    .kotak_pengumpulan_data_dan_informasi {
        border:1px solid rgb(9, 241, 241);
        border-radius: 10px;
        height:75vh;
        width: 60vh;  
        background-color: rgba(255, 255, 255, 0.068);
        backdrop-filter: blur(20px);
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;  
    }
    .kotak_pemeriksaan_fisik {
        border:1px solid rgb(9, 241, 241);
        border-radius: 10px;
        height:75vh;
        width: 60vh;  
        background-color: rgba(22, 21, 21, 0.226);
        backdrop-filter: blur(20px);
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; 

    }
    /* bagian page_satu selesai */
    /* bagian page_dua mulai */
    .kotak_elektrolit {
        border:1px solid rgb(9, 241, 241);
        border-radius: 10px;
        width: 70vh;  
        height:97%;
        background-color: rgba(22, 21, 21, 0.226);
        backdrop-filter: blur(20px);
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .header_elektrolit {
        height:5%;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .kotak_cardiac_marker {
        border:1px solid rgb(9, 241, 241);
        border-radius: 10px;
        width: 60vh;  
        height:97%;
        background-color: rgba(22, 21, 21, 0.226);
        backdrop-filter: blur(20px);
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; 
    }
    .bagian_protein_dan_kolesterol {
        display: flex;
        flex-direction: column;
        height:97%;
        justify-content: space-around;
    }
    .kotak_fungsi_hati, .kotak_miscellaneous, .kotak_protein, .kotak_kolesterol {
        border:1px solid rgb(9, 241, 241);
        border-radius: 10px;
        width: 60vh;  
        background-color: rgba(22, 21, 21, 0.226);
        backdrop-filter: blur(20px);
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .kotak_kolesterol, .kotak_protein {
        height:90%;
    }
    .kotak_kolesterol {
        margin-top: 1vh;
    }
    .kotak_fungsi_hati, .kotak_miscellaneous {
        height:100%;
        margin-left:5vh;
    }
    table {
        width:95%;
        height:80%;
        border-collapse: collapse;
    }

    /* bagian page_dua selesai */
    /* bagian page_tiga mulai */
    .header_hasil_analisa_pengobatan_pasien, .header_informasi_obat {
        height:5%;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .konteiner_kotak_hasil_analisa_pengobatan, .konteiner_informasi_obat {
            /*height:100%;*/
            width:95%;
            border:2px solid rgb(9, 241, 241);
            border-radius: 15px;
            display: inline-block;
            background-color: white;
    }

    .konteiner_informasi_obat {
        /*height:100%;*/
        width:95%;
        border:2px solid rgb(9, 241, 241);
        border-radius: 15px;
        display: inline-block;
        background-color: white;
    }
    .kotak_hasil_analisa_pengobatan_pasien {
        display: flex;
        flex-direction: column;
        align-items:center;
        height:95%;
        width:100%;  
    }

    .kotak_informasi_obat {
        width:90%;   
    }
    .kotak_informasi_obat h4, h3 {
        padding-left: 10%;
    }
    .kotak_informasi_obat p {
        padding-left: 5%;
        text-align: justify;
    }
    .kembali_ke_laman_depan {
        height:10vh;
        width:100%;
        background-color: rgb(17, 10, 10);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* bagian page_tiga selesai */
    /* bagian tambahan mulai*/
    .data_lab_hematologi {
        display:flex;
        flex-direction: column;
        background-image: url(BG_page_satu.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width:100%;
        padding-bottom: 3vh;
}
.header_hematologi {
    height:20%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    padding-top:1vh;
    padding-bottom:1vh;
}

.header_subject, .header_object, .header_assesment, .header_planning {
    height:20%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:5vh;
}

.kotak_lab {
    display:flex;
    justify-content:space-around;
}
.kotak_tabel_1, .kotak_tabel_2 {
    display:inline-block;
    border:1px solid rgb(9, 241, 241);
    border-radius: 10px;
    width: 45%;  
    background-color: rgba(22, 21, 21, 0.226);
    backdrop-filter: blur(20px);
    color:white;
    margin-top:2vh;
}
.tabel_1, .tabel_2 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.tabel_1 table td, .tabel_2 table td {
    text-align:center;
}

.page_lima {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:100%;
    background-color: black;
}

.SOAP {
    width:95%;
    border:2px solid rgb(9, 241, 241);
    border-radius: 15px;
    display: inline-block;
    background-color: white;
}
.kotak_subject {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}

.kotak_object {
    display:flex;
    justify-content:space-evenly;
    width:90%;
    border-bottom:1px black solid;
}

.object, .assesment, .planning {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.kotak_assesment, .kotak_planning {
    width:90%;
    border-bottom:1px black solid;
}
    /* bagian tambahan selesai*/
    /* bagian button selesai */
    /* bagian animasi, hover, dan yang lainnya mulai */
    .kotak:hover, a:hover {
        box-shadow: 0 0 5px cyan, 0 0 25px cyan;
        cursor:pointer;
        color:rgb(9, 241, 241);
        background-color: black;
        border-radius: 20px;
    }
    

    
    

    /* selesai */

}